@import 'colors';

.Netscape{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    color: $terminal-text;
    animation-name: slideIn;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}


.mainText{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    line-height: 150%;
    white-space: pre-line;
}